<html>
 <head>
  <meta http-equiv="refresh" content="0; URL=[% return_url %]">
 </head>
 <body>
<h2>[% MSG( 'logout.title' ) %]</h2>

<p>[% MSG( 'logout.summary', return_url ) %]</p>
 </body>
</html>
