<p>[% MSG( 'powered_by_box.summary' ) %]</p>
<p align="center">
<a href="http://www.openinteract.org/"><img src="/images/pw_by_oi.gif" border="0"
                                            width="88" height="31"
                                           alt="Powered by OpenInteract!"></a>
<br>
<a href="http://perl.apache.org/"><img src="/images/pw_by_mod_perl.gif" border="0"
                                       width="90" height="30"
                                       alt="Powered by mod_perl!"></a>
<br>
<a href="http://www.template-toolkit.org/"><img src="/images/pw_by_tt2.gif" border="0"
                                                width="78" height="47"
                                                alt="Powered by the Template Toolkit!"></a>
</p>
