[% OI.page_title( "Error creating index" ) -%]

<h1 align="center">Error Creating Index</h1>

<p>Could not create an index for the directory [% directory %], using
the handler derived from directory [% page_directory.directory %].</p>

<p>Error: [% error_msg %].</p>
