[% OI.page_title( "Aliased Page Unavailable" ) %]

<h2>Aliased Page Unavailable</h2>
<p>Request (<tt>[% location %]</tt>) was for an alias, but aliased
page (<tt>[% alias_location %]</tt>) unavailable. (This is a strange
error, and you should probably report it to your administrator.)</p>
