[% OI.page_title( 'Upload Help' );
   OI.main_template( 'base_page::page_base_help' ); %]

    <p><b>Browsing files:</b></p>
    
    <ol>

        <li>You'll be presented with a list of directories and
        files. Each file indicates its size and by its icon the type
        of file it is.</li>

        <li>To see the files and subdirectories in a directory, click
        on the directory name.</li>

        <li>To download a document, right-click on the document
        name. You will see a shortcut menu with several commands.</li>

        <li>Using the left mouse button, single-click <b>Save Target
        As...</b></li>

        <li>Select a storage folder on your PC for the document and if
        desired, edit the default filename.</li>

        <li>Click Save or press ENTER. </li>

    </ol>

    <p><b>Creating new files:</b></p>

    <ol>

        <li>Browse to the directory in which you'd like to place the
        file, or type its URL in directly.</li>

        <li>Click the <b><tt>Add File Here</tt></b> link at the top of
        the listing</li>

        <li>Type in a title for your file. It should be brief but
        descriptive.</li>

        <li>Click the <b><tt>Browse...</tt></b> button and navigate
        your local PC to find the file you want to place.</li>

        <li>Click <b><tt>Add</tt></b> to send the file. Depending on
        the size of the file and your connection speed, this may take
        a few moments.</li>

    </ol>


    <p><b>Creating new directories:</b></p>

    <ol>

        <li>Browse to the directory in which you'd like to create a subdirectory.</li>

        <li>Click the <b><tt>Add subdirectory Here</tt></b> link at the top of
        the listing</li>

        <li>Type in the name of the subdirectory you'd like to add. If
        you include spaces or other illegal characters I'll clean it
        up for you.</li>

        <li>Click <b><tt>Add</tt></b> to create the directory.</li>

    </ol>




