<script language="JavaScript">
<!--

function show_page_help( type ) {
    var url  = '[% OI.make_url( ACTION = 'page', TASK = 'help' ) %]?type=' + type;
    var opts = 'width=400,height=400,status=yes,scrollbars=yes';
    var pageHelpWin = window.open( url, 'PageHelpWin', opts );
    pageHelpWin.focus();
}

// -->
</script>