[% FOREACH tag_count = tag_and_count;
     tagged_objects_url = OI.make_url( ACTION = 'tags',
                                       TASK   = 'show_tagged_objects',
                                       tag    = tag_count.0 ); %]
o <span class="tagListing"><a href="[% tagged_objects_url %]">[% tag_count.0 %]</a> ([% tag_count.1 %])</span><br />
[% END %]
