[%- OI.page_title( MSG( 'base_security.error.unsecurable.title' ) ) -%]

<h2>[% MSG( 'base_security.error.unsecurable.title' ) %]</h2>

<p>[% MSG( 'base_security.error.unsecurable.summary', object_class ) %]</p>
