Someone requested a new user account on: [% server_name %] and gave
this email address as their contact. If this was you, you can login
using the username and password below. Once you are properly logged
in, you can modify the (admittedly ugly) system-generated password by
clicking 'Edit my info' in the box labeled 'User Info'.

Account information, for your records:
Username: [% login %]
Password: [% password %]

I hope you enjoy [% server_name %]!

The Management

PS: Note that if you do not login within 24 hours your account will
be deleted. So hop to it!
