[%- OI.page_title( MSG( 'base_user.password_sent.title' ) );
    PROCESS error_message -%]

<h1>[% MSG( 'base_user.password_sent.title' ) %]</h1>

<p>[% MSG( 'base_user.password_sent.summary', user.email ) %]</p>
