Someone from [% server_name %] has requested a new password be 
created for this account. Here it is:

 Username: [% login %]
 Password: [% password %]

Go to the site, login and change your password:

 http://[% server_name %]/[% deploy_url %]

The Management
