[%- OI.page_title( MSG( 'base_user.password_info.title' ) );
    PROCESS error_message -%]

<div align="center">

<h1>[% MSG( 'base_user.password_info.title' ) %]</h1>

<p>[% MSG( 'base_user.password_info.summary' ) %]</p>

[% PROCESS form_begin( ACTION = 'forgotpassword',
                       TASK   = 'send_password',
                       method = 'GET' ) -%]

[% INCLUDE table_bordered_begin( width = '50%' ) %]
[% count = 1;
   PROCESS label_form_text_row( label_key = 'base_user.password_info.login',
                                name      = 'login',
                                size      = 30 ) -%]
[% count = count + 1;
   PROCESS label_form_text_row( label_key = 'base_user.password_info.email',
                                name      = 'email',
                                size      = 30 ) -%]
[% count = count + 1;
   PROCESS form_submit_row( name      = 'send_button',
                            value_key = 'base_user.password_info.send' ) -%]

[% PROCESS table_bordered_end;
   PROCESS form_end  -%]

</div>